body{
    margin: 0;
    border: 0;
}

/*CSS*/
header{
    background-color: #1f2837;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
}

.enlaces{
    list-style:none;
    border:0;
    padding: 0;
    display:flex;
    flex-direction: row;
    gap: 10px;
}

a{
    text-decoration: none;
    color:#E5E7EB;
}

/*primera seccion*/
.front_page{
    background-color: #1f2837;
    color:#E5E7EB;

    display: flex;
    padding:5%;
    padding-top:0;
    gap:7vh;
}

img{
    flex:auto;
    border-radius: 80px;
    padding-top: 2.5vh;
}

button{
    background-color: #2b76f7;
    color:#E5E7EB;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:0;
    border-radius:5px;
}
button:hover{
    background-color: #E5E7EA50;
    color:#E5E7EB;
}

/*section 1*/
.first{
text-align: center;
}
.first h3{
    
}

.first div{
    display: flex;
    justify-content: center;
    gap:7vh;
    
}

.first div article{
    border: solid 2px #2b76f7;
    width: 15vh;
    height: 15vh;
    border-radius: 5px;
}

.first div .text{
    width: 15vh;
    height: 15vh;
}

/*Section 2*/
.second{
    background-color: #8d8f91;
    padding:3vh;
    display: flex;
    flex-direction: column;

}

.second h3{
    color:#E5E7EB;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10vh;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    
}

.second h5{
    text-align: end;
    padding-right: 10vh;
    
}